<div class="w3-third w3-container w3-hide-small w3-hide-medium {{ withMargin ? 'margin-top' : '' }}">
    <div class="w3-border w3-padding-large w3-padding-16 w3-center">
        <h5>Communauté</h5>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Bienvenue <em>{{ app.user.login}}</em> !<br /><br />
            <a href="{{ path('user_show', {user: app.user.id}) }}">Ma fiche</a><br />
            <a href="{{ path('user_owned_cards', {user: app.user.id}) }}">Mes cartes</a><br />
            <a href="{{ path('user_wanted_cards', {user: app.user.id}) }}">Mes recherches</a><br />
            <br /><a href="{{ path('logout') }}">Déconnexion</a>
        {% else %}
            {{ render(controller(
                'App\\Controller\\UserController::quickLoginForm'
            )) }}
            <br /><br />

            <a href="{{ path('register') }}">Rejoindre</a>
        {% endif %}
    </div>
</div>
