{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block title %}{{ ('user.register'|trans) }}{% endblock %}

{% block body %}
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2 class="w3-text-amber">Rejoindre la communauté</h2>
            <p>
                Pour utiliser les fonctionnalités de liste de cartes personnalisées, vous devez vous inscrire.<br />
                Vous pourrez ainsi créer vos listes de cartes possédées et/ou recherchées, les présenter à vos amis.
                Vous pourrez même les exporter en CSV pour les emporter avec vous !

                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(registrationForm, {
                    attr: {class: 'user-form'}
                }) }}
                {{ form_row(registrationForm.login, {
                    label: ('form.pseudo'|trans({}, 'cards')),
                    row_attr: {class: ''},
                    attr: {class: 'big-input'}
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: ('form.login.password'|trans),
                    row_attr: {class: ''},
                    attr: {class: 'big-input'}
                }) }}
                {{ form_row(registrationForm.email, {
                    label: ('form.login.email'|trans),
                    row_attr: {class: ''},
                    attr: {class: 'big-input'}
                }) }}

                <button type="submit">
                    {{ ('user.register'|trans) }}
                </button>
                {{ form_end(registrationForm) }}
            </p>
        </div>

        {{ render(controller(
            'App\\Controller\\StaticController::topRight'
        )) }}
    </div>
{% endblock %}
