{% extends 'base.html.twig' %}
{% trans_default_domain 'cards' %}

{% block title %}{{ ('edition.list'|trans) }}{% endblock %}

{% block body %}
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2 class="w3-text-amber">{{ ('edition.cards_by_edition'|trans) }}</h2>
            <p>
                {{ ('card.welcome_card_list'|trans) }}<br /><br />

                {{ ('edition.how_to_navigate'|trans) }}<br /><br /><br />

                <em>{{ ('card.editions_list'|trans) }} :</em><br />

                {% for edition in editions %}
                    <li>
                        {{ edition.editionNumber }} - <a href="{{ path('edition_cards', {edition: edition.id}) }}">{{ edition.name }}</a>
                        {{ edition.isSpecial ? ' (' ~ ('edition.special'|trans) ~ ')' : '' }}
                    </li>
                {% endfor %}
            </p>
        </div>

        {{ render(controller(
            'App\\Controller\\StaticController::topRight'
        )) }}

        {{ render(controller(
            'App\\Controller\\StaticController::bottomRight'
        )) }}
    </div>
{% endblock %}