{% extends 'base.html.twig' %}
{% trans_default_domain 'cards' %}

{% block title %}{{ ('card.search_result'|trans) }}{% endblock %}

{% block body %}
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h2 class="w3-text-amber">{{ ('card.search_result'|trans) }} ({{ cards|length }})</h2>
            <p>
                <table width="100%" border="1">
                    <tr>
                        <th>{{ ('card.code'|trans) }}</th>
                        <th>{{ ('card.local_name'|trans) }}</th>
                        <th>{{ ('card.original_name'|trans) }}</th>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <th colspan="2">{{ ('fellowship.lists'|trans) }}</th>
                        {% endif %}
                    </tr>

                    {% for card in cards %}
                        <tr>
                            <td>{{ card.code }}</td>
                            <td>
                                {% if card.localName is not same as(null) %}
                                <a href="{{ path('card_show', {card: card.id}) }}">
                                    {% endif %}
                                    {{ card.localName }}
                                    {% if card.localName is not same as(null) %}
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if card.localName is same as(null) %}
                                <a href="{{ path('card_show', {card: card.id}) }}">
                                    {% endif %}
                                    {{ card.originalName }}
                                    {% if card.localName is same as(null) %}
                                </a>
                                {% endif %}
                            </td>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <td>
                                    {% if app.user.ownedCards.contains(card) %}
                                        {{ ('fellowship.i_own'|trans) }}
                                    {% else %}
                                        <a href="{{ path('user_owns_card', {card: card.id}) }}" title="{{ ('fellowship.i_own_that_card'|trans) }}">{{ ('fellowship.i_own'|trans) }}</a>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if app.user.wantedCards.contains(card) %}
                                        {{ ('fellowship.i_want'|trans) }}
                                    {% else %}
                                        <a href="{{ path('user_wants_card', {card: card.id}) }}" title="{{ ('fellowship.i_want_that_card'|trans) }}">{{ ('fellowship.i_want'|trans) }}</a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </p>
        </div>

        {{ render(controller(
            'App\\Controller\\StaticController::topRight'
        )) }}

        {{ render(controller(
            'App\\Controller\\StaticController::bottomRight'
        )) }}
    </div>
{% endblock %}
