<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
        <title>{% block title %}{{ ('general.home'|trans) }}{% endblock %}</title>
{#        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/wishlist/images/favicon.ico') }}" />#}
{#        <link rel="stylesheet" href="{{ asset('bundles/wishlist/css/style.css') }}" />#}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav id="menu">
        <ul>
            <li><a href="{{ path('index') }}" title="{{ ('general.home'|trans) }}">{{ ('general.home'|trans) }}</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('logout') }}" title="{{ ('user.logout'|trans({}, 'messages')) }}">{{ ('user.logout'|trans({}, 'messages')) }}</a></li>
            {% else %}
                <li><a href="{{ path('register') }}" title="{{ ('user.register'|trans({}, 'messages')) }}">{{ ('user.register'|trans({}, 'messages')) }}</a></li>
                <li><a href="{{ path('login') }}" title="{{ ('user.login'|trans({}, 'messages')) }}">{{ ('user.login'|trans({}, 'messages')) }}</a></li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
